@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Click Fish to find your fish!</h1>
    <p>Learn about what you caught in one easy step <a href=""></a>.</p>
</div>
